Hobbies/HobbiesMVC/Service References/HobbiesServices/Hobbies.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Hobbies" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2763/Hobbies.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2763/Hobbies.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2763/Hobbies.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHobbies_registrarHobby_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarHobby" />
  </wsdl:message>
  <wsdl:message name="IHobbies_registrarHobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarHobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IHobbies_listarHobbies_InputMessage">
    <wsdl:part name="parameters" element="tns:listarHobbies" />
  </wsdl:message>
  <wsdl:message name="IHobbies_listarHobbies_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarHobbiesResponse" />
  </wsdl:message>
  <wsdl:message name="IHobbies_obtenerDescripcionHobby_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDescripcionHobby" />
  </wsdl:message>
  <wsdl:message name="IHobbies_obtenerDescripcionHobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDescripcionHobbyResponse" />
  </wsdl:message>
  <wsdl:portType name="IHobbies">
    <wsdl:operation name="registrarHobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IHobbies/registrarHobby" message="tns:IHobbies_registrarHobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHobbies/registrarHobbyResponse" message="tns:IHobbies_registrarHobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarHobbies">
      <wsdl:input wsaw:Action="http://tempuri.org/IHobbies/listarHobbies" message="tns:IHobbies_listarHobbies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHobbies/listarHobbiesResponse" message="tns:IHobbies_listarHobbies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDescripcionHobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IHobbies/obtenerDescripcionHobby" message="tns:IHobbies_obtenerDescripcionHobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHobbies/obtenerDescripcionHobbyResponse" message="tns:IHobbies_obtenerDescripcionHobby_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHobbies" type="tns:IHobbies">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarHobby">
      <soap:operation soapAction="http://tempuri.org/IHobbies/registrarHobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarHobbies">
      <soap:operation soapAction="http://tempuri.org/IHobbies/listarHobbies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDescripcionHobby">
      <soap:operation soapAction="http://tempuri.org/IHobbies/obtenerDescripcionHobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Hobbies">
    <wsdl:port name="BasicHttpBinding_IHobbies" binding="tns:BasicHttpBinding_IHobbies">
      <soap:address location="http://localhost:2763/Hobbies.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>